<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout>
                <pattern>%d %p %C{1.} [%t] %m%n</pattern>
            </PatternLayout>
        </Console>
        <File name="File" fileName="/Users/zzm/Desktop/log/log4j2.log">
            <PatternLayout>
                <pattern>%d %p %C{1.} [%t] %m%n</pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" />
        </Root>
        <!-- 将调用mybatis的dao的包填入此处即可 -->

        <logger name="com.springboot01.demo.dao" level="DEBUG">
            <AppenderRef ref="Console" />
        </logger>
    </Loggers>

</Configuration>